
<section class="av-footer bg-bordeaux">
    <div class="container">
        <div class="row">
        <div class="intro">
            <h2 class="text-center">Newsletter</h2>
        </div>
        <form class="d-flex justify-content-center flex-wrap" method="post">
                <div class="mb-3"><img src="{{ asset('img/logo-mail.png') }}" alt="Logo e-mail" width="35px"></div>
                <div class="mb-3"><input type="email" class="form-control" name="email" placeholder="Votre e-mail" /></div>
                <div class="mb-3"><button class="btn btn-primary" type="submit">S'abonner </button></div>
        </form>
        <div class="intro">
        <p class="text-center">Consultez notre politique de Confidentialité pour comprendre comment nous traitons vos données personnelles pour vous envoyer des e-mails marketing</p>
        </div>
    </div>
    </div>
</section>


<footer class="page-footer">
    
    
    <div class="container">

            <div class="row">



                    <div class="col-6">

                        <div class="d-inline-block copyright">
                            <img height="80" width="240" src="{{asset('img/simplon_logo.png')}}" alt=""><br>
                        </div>
                    
                    </div>




                    <div class="col-6">
                        <div class="footer-logo">
                            <div class="footer-social"> 

                                <h4>RETROUVEZ NOUS SUR</h4> 
                                 <div class="d-inline-block social-links">
                                    <div class="d-inline-block item">
                                        <img src="{{ asset('img/Facebook-logo.png') }}" alt="">
                                    </div>
                                    <div class="d-inline-block item">
                                        <img src="{{ asset('img/instagram-logo.png') }}" alt="" width="40px" height="40px">
                                    </div>
                                    <div class="d-inline-block item">
                                        <img src="{{ asset('img/Pinterest-logo.png') }}" alt="">
                                    </div>
                                    <div class="d-inline-block item">
                                        <img src="{{ asset('img/youtube-logo.png') }}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    
                    
                    
                    
                    </div>
                </div>

                <div class="row justify-content-center" style="border-top: 1px solid #000;margin:4% 0px">
                    <div class="col-xl-2 col-md-3 col-lg-3 ">
                        <div class="titrefoot-slot">
                            <h4>Aide</h4>
                        </div>
                        <ul class="footer-links">
                            <li><a href="#">F.A.Q</a></li>
                            <li><a href="#">Questions fréquentes</a></li>
                            <li><a href="#">Mon compte</a></li>
                            <li><a href="{{ path('app_contact') }}">Contactez-nous</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-md-3 col-lg-3 ">
                        <div class="titrefoot-slot">
                            <h4>Aide</h4>
                        </div>
                        <ul class="footer-links">
                            <li><a href="#">F.A.Q</a></li>
                            <li><a href="#">Questions fréquentes</a></li>
                            <li><a href="#">Mon compte</a></li>
                            <li><a href="{{ path('app_contact') }}">Contactez-nous</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-md-3 col-lg-3 ">
                        <div class="titrefoot-slot">
                            <h4>Aide</h4>
                        </div>
                        <ul class="footer-links">
                            <li><a href="#">F.A.Q</a></li>
                            <li><a href="#">Questions fréquentes</a></li>
                            <li><a href="#">Mon compte</a></li>
                            <li><a href="{{ path('app_contact') }}">Contactez-nous</a></li>
                        </ul>
                    </div>
                   <div class="col-xl-2 col-md-3 col-lg-3 ">
                        <div class="titrefoot-slot">
                            <h4>Aide</h4>
                        </div>
                        <ul class="footer-links">
                            <li><a href="#">F.A.Q</a></li>
                            <li><a href="#">Questions fréquentes</a></li>
                            <li><a href="#">Mon compte</a></li>
                            <li><a href="{{ path('app_contact') }}">Contactez-nous</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-md-3 col-lg-3 ">
                        <div class="titrefoot-slot">
                            <h4>Aide</h4>
                        </div>
                        <ul class="footer-links">
                            <li><a href="#">F.A.Q</a></li>
                            <li><a href="#">Questions fréquentes</a></li>
                            <li><a href="#">Mon compte</a></li>
                            <li><a href="{{ path('app_contact') }}">Contactez-nous</a></li>
                        </ul>
                    </div>
                 
      </div>
      
      
  </div>
  </footer>

  <section class="bande-mention bg-marine">
      
        <div style="height:5vh" class="row align-items-center">
             
             <div class="col-3 col-md-4">
                <h5 class="d-inline-block text-white">Simplon Charleville Copyright © 2022. Tout droit compris.</h5>
            </div>
             
             <div class="col-5 col-md-4">
                <a class="text-light" href="">
                    <h4>Confidentialité et cookies</h4>
                </a>
            </div>

            <div class="col-5 col-md-4">
                <a class="text-light" href="">
                    <h4>Termes et conditions</h4>
                </a>   
           </div> 

        </div>
                         
   </section>






