{% extends 'base.html.twig' %}

{% block title 'Contact' %}

{% block body %}
    <div class="container">
      

        {# {{ form_start(form) }}
            {{ form_widget(form) }}

            {{ form_row(form.name , {'attr':{'placeholder': 'Ex: John' }} ) }}  label champ , error , help
            {{ form_row(form.email , {'attr':{'placeholder': 'JohnDoe@hotmail.com' }} ) }}  
            {{ form_row(form.message , {'attr':{'placeholder': 'Votre message ici...' }} ) }}  

            <button type="submit" formnovalidate>Envoyer</button>
        {{ form_end(form) }} #}

      

                {# {{ form_widget(form) }} #}

                 {# label champ , error , help #}
                 
               

                
           


        <section class="contact-clean">
              <div id="contact">
                {{ form_start(form) }}
            <h2 class="text-center">Contactez-nous</h2>
                
                <div class="mb-3"> {{ form_row(form.name , {'attr':{'placeholder': 'Ex: John', 'class': 'form-control' }} ) }}
                </div>

                
                <div class="mb-3">{{ form_row(form.email , {'attr':{'placeholder': 'JohnDoe@hotmail.com', 'class': 'form-control' }} ) }}
                 </div>

                <div class="mb-3"> {{ form_row(form.message , {'attr':{'placeholder': 'Votre message ici...', 'class': 'form-control' }} ) }} </div>
                <div class="mb-3"><button type="submit" class="btn btn-primary" formnovalidate>Envoyer</button></div>
             {{ form_end(form) }}
        </div>
        </section>

    </div>
    

{% endblock %}
